.hero {
    padding-top: 235px;
    padding-bottom: 180px;
    background-image: url('../images/main-background.jpg') ;
    background-repeat: no-repeat;
    background-position: center;
}

.hero-h1 {
    width: 1000px;
    margin: 0 auto;
    margin-bottom: 24px;

    font-weight: 500;
    font-size: 80px;
    line-height: 1;

    text-align: center;
}

.hero-text {
    width: 600px;
    margin: 0 auto;
    margin-bottom: 48px;

    font-weight: 300;
    font-size: 16px;
    line-height: 1.4;

    text-align: center;

    color: var(--text-opacity-70);
}

.hero-link {
    background: var(--marine-blue);
    color: var(--white-c);
    border-radius: 15px;

    font-weight: 500;
    font-size: 18px;
    line-height: 1.1;

    margin: 0 auto;
    width: 179px;
    height: 52px;

    display: flex;
    align-items: center;
    justify-content: center;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);   
}

.hero-link:hover,
.hero-link:focus{
    background-color: #16333c;
}